/* setup */
* {
    box-sizing: border-box;
    margin: 0;
    cursor:crosshair;
}

html {
    scroll-behavior:smooth;
}

body {
    animation:fadeInAnimation ease 2s;
    background-color:black;
    font-family: "Space Mono", monospace;
    height: 100vh;
}

/* header + grid */
header {
    width:100%;
    background-color:white;
    color:black;
    height:10%;
    top:0;
    position:sticky;
    z-index:9999;
}

.header-container {
    display: grid;
    height: 100%;
    background-color:white;
    align-items: center;
    grid-template-columns:40% 60%;
    padding: 0px 20px 0px 20px;
}
  
.name {
    text-align:left;
    font-size:30px;
    font-family: "Space Mono", monospace;
    font-weight:bolder;
    transition-duration:.4s;
}

.name a {
    text-decoration:none;
    color:black;
    transition-duration:.4s;
}

.name a:hover {
    letter-spacing:10px;
    text-decoration:none;
    color:black;
    transition-duration:.4s;
}
  
.links {
    align-items:center;
    font-family: "Space Mono", monospace;
}

nav {
    float:right;
}

/* button class for nav bar */
.nav {
    font-family: "Space Mono", monospace;
    text-transform: uppercase;
    background-color: black;
    color:black;
    border:none;
    transition-duration:.4s;
    font-size:18px;
    padding: 5px 10px 5px 10px;
}

.nav a {
    font-family: "Space Mono", monospace;
    text-transform: uppercase;
    color:white;
    border:none;
    text-decoration:none;
    transition-duration:.4s;
}

.nav a:hover {
    color:white;
    transition-duration:.4s;
}

.nav:hover {
    letter-spacing:5px;
    color:white;
    transition-duration:.4s;
    background-color:#e6308a;
}

.rainbow:hover {
    -webkit-animation:rainbow 1s infinite;
    -ms-animation:rainbow 1s infinite;
    -o-animation:rainbow 1s infinite;
    animation:rainbow 1s infinite;
}


/* main - holds content under header */
main {
    width:100%;
    background:black;
    color:white;
    height:90%;
}

/*homepage grid content*/
.home-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    height:100%;
    width:100%;
    align-self:center;
}

.third{
    height:100%;
    width:100%;
    padding:50px;
}

.left {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align:right;
}

.mid {
    background-image: url("../images/headshotcrop.jpg");
    background-position:center;
    background-size: auto 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    height:100%;
}


.right {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*homepage right content*/
h1 {
    font-size:50px;
    font-weight:bold;
}

h2 {
    font-size:30px;
    font-weight:bold;
    color:#e6308a;
}

h3 {
    color:#e6308a;
}

p {
    font-size:15px;
}

small {
    font-size:12px;
}

i {
    color:gray;
}

/* footer */
footer {
    background-color:white;
    color:black;
    width:100%;
    text-align:center;
    padding: 50px 0px 100px 0px;
}

footer img {
    height:25px;
}

.footer-container {
    display:grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    width:100%;
    grid-gap:10px;
    align-items:center;
    align-content:center;
}

.tag {
    font-size: 12px;
    padding:5px;
}

.icons img:hover {
    cursor:help;
}

/* google fonts */
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
  
.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}
  
.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}
  
.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}  

@media only screen and (max-width: 975px) {
    .name {
        font-size:25px;
    }
    .nav {
        font-size:15px;
    }
    h1 {
        font-size:30px;
    }
    p {
        font-size:15px;
    }
    main {
        width:100vw;
        color:white;
        height:auto;
    }
}
@media only screen and (max-width: 675px) {
    .name {
        font-size:20px;
        line-height:20px;
        padding:5px 0px 5px 0px;
    }
    .nav {
        font-size:12px;
    }
    h1 {
        font-size:30px;
    }
    p {
        font-size:15px;
    }

    main {
        width:100vw;
        color:white;
        height:auto;
        padding:50px 0px 50px 0px;
    }
    .header-container {
        grid-template-columns:20% 80%;
    }
    .home-container {
        gap: 0px;
        grid-template-columns:auto;
        grid-template-rows:auto auto;
    }
    .left {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

    }
    .mid {
        background-size: 100% auto;
        background-image: url("../images/headshot.jpg");
        height:400px;

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .right {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

}