/* setup */
* {
    box-sizing: border-box;
    margin: 0;
    cursor:crosshair;
}

html {
    scroll-behavior:smooth;
}

body {
    animation:fadeInAnimation ease 2s;
    background-color:black;
    font-family: "Space Mono", monospace;
    height: 100vh;
}

/* header + grid */
header {
    width:100%;
    background-color:white;
    color:black;
    height:10%;
    top:0;
    position:sticky;
    z-index:9999;
}

.header-container {
    display: grid;
    height: 100%;
    background-color:white;
    align-items: center;
    grid-template-columns:40% 60%;
    padding: 0px 20px 0px 20px;
}
  
.name {
    text-align:left;
    font-size:30px;
    font-family: "Space Mono", monospace;
    font-weight:bolder;
    transition-duration:.4s;
}

.name a {
    text-decoration:none;
    color:black;
    transition-duration:.4s;
}

.name a:hover {
    letter-spacing:10px;
    text-decoration:none;
    color:black;
    transition-duration:.4s;
}
  
.links {
    align-items:center;
    font-family: "Space Mono", monospace;
}

nav {
    float:right;
}

/* button class for nav bar */
.nav {
    font-family: "Space Mono", monospace;
    text-transform: uppercase;
    background-color: black;
    color:black;
    border:none;
    transition-duration:.4s;
    font-size:18px;
    padding: 5px 10px 5px 10px;
}

.nav a {
    font-family: "Space Mono", monospace;
    text-transform: uppercase;
    color:white;
    border:none;
    text-decoration:none;
    transition-duration:.4s;
}

.nav a:hover {
    color:white;
    transition-duration:.4s;
}

.nav:hover {
    letter-spacing:5px;
    color:white;
    transition-duration:.4s;
    background-color:#e6308a;
}

a {
    text-decoration: none;
}

/* main - holds content under header */
main {
    width:auto;
    background:black;
    color:white;
}

/*homepage grid content*/
.home-container {
    display:grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: auto;
    width:100%;
    height:100%;
    gap:50px;
    align-items:center;
    padding:50px;
}

.box {
    height:100%;
}

.box a {
    text-decoration:underline;
    color:white;
}

.one {
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;
}

.two {
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
}

.four img {
    width:50px;
    height:50px;
    border-radius:10px;
    object-fit: cover;
    transition-duration: .2s;
}

.three {
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:2;
    height:100%;
}

.three img{
    width:100%;
}

.app-container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width:100%;
    text-align:center;
    align-items:center;
    align-content:center;
    gap:5px;
}

.app img {
    border-radius:10px;
    width:50px;
    height:50px;
    object-fit:cover;
    object-position:center;
    transition-duration: .2s;
    
}

.app img:hover {
    transform: rotate(10deg);
    filter:brightness(150%);
    transition-duration: .2s;
}

.resume {
    font-family: "Space Mono", monospace;
    background-color:white;
    width:100%;
    height:auto;
    border:none;
    color:black;
    padding:10px;
    font-size:20px;
    transition-duration:.2s;
}

.resume a {
    text-decoration:none;
}
.resume img {
    height:15px;
}

.resume:hover {
    background-color:gray;
    transition-duration:.2s;

}

.resume a {
    color: black;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*homepage right content*/
h1 {
    font-size:50px;
    font-weight:bold;
}

h2 {
    background-color:white;
    color:black;
    font-size:30px;
    font-weight:bold;
    padding:5px;
}

h3 {
    width:100%;
    color:#e6308a;
}

p {
    font-size:12px;
    border-left:3px solid gray;
    padding-left:10px;
}

i {
    color:gray;
    font-size:12px;
}


/* footer */
footer {
    background-color:white;
    color:black;
    width:100%;
    text-align:center;
    padding: 50px 0px 100px 0px;
}

footer img {
    height:25px;
}

.footer-container {
    display:grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    width:100%;
    grid-gap:10px;
    align-items:center;
    align-content:center;
}

.tag {
    font-size: 12px;
    padding:5px;
}

.icons img:hover {
    cursor:help;
}

/* google fonts */
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
  
.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}
  
.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}
  
.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}  

@media only screen and (max-width: 975px) {
    .name {
        font-size:25px;
    }
    .nav {
        font-size:15px;
    }
    h1 {
        font-size:30px;
    }
    p {
        font-size:15px;
    }
    .home-container {
        padding:50px;
        gap:50px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
    .one {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .two {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .three {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

}
@media only screen and (max-width: 675px) {
    .name {
        font-size:20px;
        line-height:20px;
        padding:5px 0px 5px 0px;
    }
    .nav {
        font-size:12px;
    }
    h1 {
        font-size:30px;
    }
    p {
        font-size:15px;
    }

    main {
        color:white;
        height:auto;
    }
    .header-container {
        grid-template-columns:20% 80%;
    }
    .home-container {
        padding:20px;
        gap:20px;
        width:100%;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    .one {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .two {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .three {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}