*{
    box-sizing: border-box;
    margin: 0 auto;
    overflow:scroll;
}

body{
    color:white;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width:100%;
    padding:50px;
    background-color:black;
}

i {
    color:gray;
}
h3 {
    padding:10px 0;
    font-size:20px;
}

h2 {
    color:gray;
    font-weight:normal;
    font-size:20px;
}

caption {
    font-size:12px;
}


.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin:50px;
    gap:50px;
    overflow:hidden;
}
  
.grid-container > div {
    text-align: left;
    width:100%;
    overflow:hidden;
    word-wrap:break-word;

    
}
.grid-container img {
    width:100%;
    height:200px;
    object-fit:cover;
    object-position:center;
    border:0px solid black;
    transition:.2s;
}

/*
.grid-container img:hover {
    border:10px solid black;
    rotate:calc(1deg);
    filter: brightness(150%);
    transition:.2s;
}
*/
a {
    text-decoration:none;
    color:darkseagreen;
}

p {
    color:white;
}
 
/* header + grid */
header {
    width:100%;
    background-color:darkslategrey;
    color:white;
    height:auto;
    padding:15px 20px 15px 20px;
    top:0;
    position:sticky;
}

header a {
    text-decoration:none;
    color:white;
    transition:.2s;
}

header a:hover {
    color:gray;
    transition:.2s;

}

/* footer */
footer {
    background-color:darkslategray;
    color:white;
    width:100%;
    text-align:center;
    padding: 50px 0px 100px 0px;
}

footer img {
    height:25px;
}

.footer-container {
    display:grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    width:100%;
    grid-gap:10px;
    align-items:center;
    align-content:center;
}

.tag {
    font-size: 12px;
    padding:5px;
}

.icons img:hover {
    cursor:help;
}