*{
    box-sizing: border-box;
    margin: 0;
}

body{
    color:white;
    background-color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width:100%;
    height:auto;
    padding:50px;
    background-color:black;
}

i {
    color:gray;
}

h1 {
    font-family: "Space Mono", monospace;
}
h3 {
    padding:10px 0;
    font-size:20px;
    font-family: "Space Mono", monospace;
}

h2 {
    color:gray;
    font-weight:normal;
    font-size:20px;
}

caption {
    font-size:12px;
}


.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin:50px;
    gap:50px;
}
  
.grid-container > div {
    text-align: left;
    width:100%;
    word-wrap:break-word;
}
.grid-container img {
    width:100%;
    height:200px;
    object-fit:cover;
    object-position:center;
    border:0px solid black;
    transition:.2s;
}

a {
    text-decoration:none;
    color:darkseagreen;
}

p {
    color:white;
}
 
/* header + grid */
header {
    width:100%;
    background-color:darkslategrey;
    color:white;
    height:auto;
    padding:15px 20px 15px 20px;
}
.header {
    position: sticky;
    top: 0;
  }

header a {
    text-decoration:none;
    color:white;
    transition:.2s;
}

header a:hover {
    color:gray;
    transition:.2s;

}

/* footer */
footer {
    background-color:darkslategray;
    color:white;
    width:100%;
    text-align:center;
    padding: 50px 0px 100px 0px;
}

footer img {
    height:25px;
}

.footer-container {
    display:grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    width:100%;
    grid-gap:10px;
    align-items:center;
    align-content:center;
}

.tag {
    font-size: 12px;
    padding:5px;
}

.icons img:hover {
    cursor:help;
}

/*back to top button*/

#myBtn {
    width: 50px;
    height: 50px;
    transition: opacity 1s ease-in-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    font-size: 25px;
    color: #fff;
    background-color: darkseagreen;
    opacity: 0;
}

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }
  