* {
    box-sizing: border-box;
    margin: 0;
    cursor:crosshair;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    scroll-behavior: smooth;
}

.item1 {
    grid-area:header;
    font-size:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#9a0101;
    z-index:999;
    height:8vh;
    position:sticky;
    align-content:center;
    padding-left:20px;
    top: 0;
    background-color:white;
}

.item1 a {
    color:#9a0101;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.item1 img {
    float: left;
    height:35px;
}
.item2 {
    grid-area: menu;
    max-width:200px;
    align-items:center;
    background-color:#9a0101;
}

.item2 img {
    float:right;
    height:20px;
}

.item3 {
    grid-area: main;
    background-color:#EAEAEA;
    padding:30px;
}

.item4 {
    grid-area: footer;
    padding:50px 50px;
    text-align:center;
    font-size:10px;
    color:black;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header header header'
    'menu menu main main main main main main'
    'footer footer footer footer footer footer footer footer';
}


.main-content {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width:100%;
    gap:30px;
}

.search, .results {
    background-color:white;
    border:1px solid gray;
    border-radius: 5px;
    padding:20px;
}



.connect {
    background-color:white;
    border-radius:10px;
    padding:25px;
    border:1px solid gray;
    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-start:2;

}

.twit, .tumblr {
    background-color:rgb(38, 38, 38);
    padding:10px 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1vw;
    border-radius: 5px;
    border:none;
    color:white;
    display:inline-block;
}

.tumblr {
    background-color:#35465c;
}

.twit a, .tumblr a {
    color:white;
}
.twit img, .tumblr img {
    height:10px;
}

.navbutton {
    width:100%;
    padding:20px 20px;
    text-decoration:none;
    border:0px;
    background-color:#9a0101;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color:white;
    font-size:15px;
    text-align:left;
    transition-duration:.5s;
}

.navbutton:hover {
    background-color:#700000;
    transition-duration:.5s;

}

h1 {
    font-size:30px;
    font-weight:normal;
}
sup {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:12px;
}

h3 {
    font-size:25px;
    font-style:italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:normal;
}

h4 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bolder;
    font-size:20px;
}

h5 {
    font-size:25px;
    font-weight:normal;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom:10px;
    color:#9a0101;
}

.invite {
    padding:10px 15px;
    border-radius:5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:15px;
    font-weight:bold;
    border:none;
    background-color:lightgray;
    transition-duration:.3s;
    border: 1px solid gray;

}
.invite:hover {
    letter-spacing:2px;
    transition-duration:.3s;
}

a {
    text-decoration:none;
    color:gray;
}

/* drop down menu hover */


.dropdown-btn {
    width:100%;
    padding:20px 20px;
    text-decoration:none;
    border:0px;
    background-color:#9a0101;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color:white;
    font-size:15px;
    text-align:left;
    transition-duration:.5s;
}

.dropdown-btn:hover {
    background-color:#700000;
    transition-duration:.5s;
}


.dropdown-container {
    display: none;
    background-color: #262626;
}

.dropdown-content {
    width:100%;
    padding:10px 10px 10px 25px;
    background-color:white;
    border:1px solid lightgray;
    color: black;
    font-size:13px;
    transition-duration:.3s;

}

.dropdown-content a {
    color:black;
}

.dropdown-content:hover {
    color:#9a0101;
    letter-spacing:1px;
    background-color:lightgray;
    transition-duration:.3s;
}

.active {
    background-color:#700000;
}

/* query styling */

label {
    font-size:15px;
    margin-bottom: 5px;
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#search {
    background-color: #9a0101;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 5px 0;
    border-radius: 5px;
    transition-duration:.5s;
}

#search:hover {
    background-color: #700000;
    letter-spacing:2px;
    transition-duration:.5s;
}

select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #EAEAEA;
    font-size: 16px;
}

legend {
    font-size:20px;
}

.search-section > div {
    margin-bottom: 15px;
}

fieldset {
    border: 1px solid gray;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

fieldset legend {
    font-weight:bold;
    font-size: 15px;
}



fieldset {
    border-radius:5px;
}

/*help tooltip from w3*/

.tooltip {
    position: relative;
    display: inline-block;
    font-size:12px;
}
  
.tooltip img {
    height:12px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #eaeaea;
    border:1px solid;
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition-duration: .5s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition-duration:  .5s;
  }

.fanfic {
    border:1px solid gray;
    border-radius:5px;
}
  
@media (max-width: 600px) {
}
  